.container-fluid {
    font-size: 20px;
}

#board-tv-chart {
    height: 600px;
}

table th, table td {
    width: 14.28%;
}

.table-total {
    font-weight: bold;
}

.icon-separator {
    margin-left: 10px;
}