/*
 * @author Weidi Zhang
 */

.container-fluid {
    font-size: 20px;
}

#board-tv-chart, #tv-chart {
    height: 100%;
}

table th, table td {
    width: 14.28%;
}

.table {
    margin-bottom: 0px !important;
}

#table-total {
    font-weight: bold;
}

.icon-separator {
    margin-left: 10px;
}

.nav-pills li a {
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #e7e7e7;
    border-bottom: none;
}

.nav-pills a {
    background-color: #eee;
}

.nav-pills .active a {
    background-color: #fff !important;
    color: black !important;
}

.tab-content {
    padding: 15px;

    border: 1px solid #e7e7e7;
}

.remove-tx {
    color: #ff3f3f;
}

#tx-template, .nav-pills, .tab-content, .wrapper {
    display: none;
}

#loading-screen {
    background-color: #7386d5;
    width: 100%;
    height: 100%;

    color: white;
    text-align: center;
}

#loading-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

html, body {
    width: 100%;
    height: 100%;
}

#loading-header {
    font-size: 32px;
}

#loading-caption {
    font-size: 14px;
}

#loading-circle {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #65a0d8;
    border-radius: 50%;

    width: 80px;
    height: 80px;

    animation: spin 2s linear infinite;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loading-hint {
    position: absolute;
    bottom: 10px;
    left: 0;

    font-size: 11px;

    width: 100%;
}